$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Ceviche+One);

body {
  background-image: url('https://i.imgur.com/ilFuCA0.jpg');
  // background-size: cover;
  background-size: 100%auto;
  font-family: 'Ceviche One', cursive;
  font-size: 20px;
}

.glyphicon {
  font-size: 32px;
}

.tracker {
  color: #fff;
}
